.word {
  position: relative;
  display: inline-block;
  margin: 1px 3px;
}

.word--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}
